h1, p {
  font-family: Lato;
}

div{
  text-align: center;
}

div.main{
  margin: 0 20% 0 20%;
  text-align: center;
}

.buttons {
  display: block;
  margin: 5pt auto;
  }

.headTytle{
  text-align: center;
}

div.fw-background {
  position: absolute;
  top: -700px;
  left: 0;
  width: 100%;
  height: 800px;
  background: #3a7fd5;
  background: linear-gradient(to right, #3a7fd5, #6ebce2);
  transform: skew(0, 0deg);
  transform-origin: bottom left;
  box-shadow: inset 0 -3px 10px rgba(0,0,0,0.1)
}

div.fw-background-bottom {
  position: absolute;
  top: 850px;
  left: 0;
  width: 100%;
  height: 10%;
  background: #3a7fd5;
  background: linear-gradient(to left, #3a7fd5, #6ebce2);
  transform: skew(0, 0deg);
  transform-origin: bottom left;
  box-shadow: inset 0 -3px 10px rgba(0,0,0,0.1)
}

div.fw-container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  clear: both;
  padding: 0 1em;
  box-sizing: border-box;
  padding-top: 100px;
}

/* .btn-primary {
  color: #fff;
  background-color: #3a7fd5 !important;
  border-color: #6ebce2 !important;
}
 */
.table-primary, .table-primary > th, .table-primary > td {
  background-color: #B3B6B7 !important;
  border-color: #B3B6B7 !important;
}

.table-success, .table-success > th, .table-success > td {
  background-color: #fff !important;
}

.table-danger, .table-danger > th, .table-danger > td {
  border-color: #f1b0b7 !important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #fff !important;
    border-radius: 0.3rem;
}